.message{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.message__info{
    margin-left: 20px;
}

.message__timestamp{
    color: grey;
    margin: 20px;
    font-size: x-small;
}